<h2>Enter an Address</h2>
<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div>
      <% address.errors.each do |error| %>
        <div class="alert alert-danger align-items-center" role="alert">
          <div>
            <%= error.full_message %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :street %>
    <%= form.text_field :street, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :state %>
    <%= form.text_field :state, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :zipcode %>
    <%= form.number_field :zipcode, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Get Weather", class: "btn btn-primary" %>
  </div>
<% end %>
